<div style="">
  <img width="800" style="position: relative; " src="../assets/background.png"/>
  <div [class.wobble-hor-bottom]="css_hit" [class.rotate-center]="rotate_center" [class.rotate-top]="rotate_hor_top" style="width: fit-content; position: absolute; top: 250px; left: 350px;">
    <img [@death]="ng_death" [@attack]="ng_attack" [@preAttack]="ng_preAttack" [@bounce]="ng_bounce" [@shake]="ng_shake" [@flip]="ng_flip" id="slimeyId" class="slime" width="150" src="../assets/slimeyWithBorder.png"/>
  </div>
</div>
<div style="padding: 20px">
  <button *ngIf="!slimeIsPresent" mat-raised-button color="accent" (click)="spawn()">Spawn</button>
  <button  *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="death()">Death</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="attack()">Attack</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="hit()">Hit</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="BSF()">Bounce/Shake/Flip</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="startIts()">Start Infinite Triple Spin</button>
  <button *ngIf="slimeIsPresent" mat-raised-button color="accent" (click)="stopITS()">Stop Infinite Triple Spin</button>

</div>
